<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> 
<% bookCoverClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookCoverClass %>">
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %> ">
      <img
        src="<%= book.coverImagePath %>"
        alt="cover"
        class="book-cover <%= bookCoverClass %>"
      />
    </a>
  <% }) %>
</div>
